@model RWAMovies.ViewModels.VMRegister

@{
    ViewData["Title"] = "Register";

}

<h1>Register</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirm" class="control-label"></label>
                <input asp-for="EmailConfirm" class="form-control" />
                <span asp-validation-for="EmailConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input type="password" type="password" asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select class="form-control" id="loadedCountries" asp-for="Country.Idcountry" asp-items="@(SelectList)ViewBag.Countries">
                    <option value="">Choose the country</option>
                </select>
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Register" class="btn btn-primary w-50" />
            </div>
        </form>
    </div>
</div>

<div class ="text-center">
    <a asp-action="LogIn">Sign in</a>
</div>

@section Scripts {
    <script src="~/js/SelectItems.js"></script>
    <script>
        restrictCountrySelection();
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
